@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

/* .img {
    width: 100%;
    height: auto;
    display: none;
} */

button {
  font: inherit;
}

body {
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "quicksand", sans-serif;
  padding: 1rem;
}

.nav__bar {
  max-width: 1160px;
  width: 100%;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.logo__box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.website__name {
  display: none;
}

.nav__button {
  display: none;
}

.nav__bar ul {
  display: none;
}

.logo__box img {
  width: 46px;
  height: 46px;
}

.nav__menu {
  width: 30px;
  height: 30px;
}

.hero {
    max-width: 1160px;
    width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 1.25rem 0;
}

.hero__image img {
  width: 100%;
  display: block;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  order: 1;
}

.hero__title {
  font-size: 2rem;
  font-weight: 700;
  color: #111111;
}

.Empowering {
  color: orange;
}

.towards__vision {
  color: #01acfd;
}

.hero__para {
  font-size: 14px;
  font-weight: 500;
  color: #111111;
}

.hero__button {
  width: 130px;
  height: 42px;
  background-color: #111111;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 30px;
}

/* media queries */
/* small devices */
@media screen and (min-width: 576px) {
    
    .website__name {
        display: block;
        font-size: 1.75rem;
        font-weight: 700;
        color: #111111;
        line-height: 30px;
    }

  .hero__title {
    font-size: 2.75rem;
  }

  .hero__para {
    font-size: 1rem;
  }

  .logo__box img {
    width: 55px;
    height: 55px;
  }

  .nav__menu {
    width: 35px;
    height: 35px;
  }

  .hero__button {
    width: 150px;
    height: 46px;
    font-size: 18px;
  }
}


/* medium devices */
@media screen and (min-width: 768px) {

    .website__name {
        font-size: 2rem;
    }
    
    .logo__box img {
        height: 100%;
        width: 100%;
    }

    .nav__menu {
        width: 44px;
        height: 44px;
    }

    .nav__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .nav__button {
    display: block;
    width: 150px;
    height: 46px;
    background-color: orange;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    line-height: 30px;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__para {
    font-size: 18px;
    font-weight: 400;
    
  }

  .hero__button {
    font-size: 20px;
  }

}


@media screen and (min-width: 992px) {
 .nav__bar ul {
    display: flex;
    gap: 2rem;
}

.nav__bar li {
    list-style: none;
}

.nav__bar li a {
   text-decoration: none;
   font-size: 1.25rem;
   font-weight: 500;
   line-height: 30px;
} 

.nav__bar li .home {
    font-weight: 700;
    color: orange;
}

.nav__bar li .about {
    color:#01acfd;
}

.nav__bar li .facilities {
    color: #05D4DF;
}

.nav__bar li .admission {
    color: #5D58EF;
}

.nav__menu {
    display: none;
}

.nav__button, .hero__button {
    width: 197px;
    height: 50px;
}

.hero {
    flex-direction: row-reverse;
    align-items: center;
}

.hero__content {
    align-items: normal;
    text-align: unset;
    flex: 1;
}

.hero__title {
    font-size: 3.5rem;
}

.hero__para {
    font-size: 20px;
}

br {
    display: none;
}

}

/* main */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Quicksand", sans-serif;
}

.curriculum {
    max-width: 1160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.curriculum__title {
    font-size: 26px;
    font-weight: 700;
    color: #000000;
}


